@use "./global/variables";

fieldset {
    border: none;


    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;


    input[type=radio]:checked + img {
        box-shadow: 5px 5px 20px 15px rgba(0,0,0,0.40);
        transition: 0.4s ease-out;
      }

      label:hover {
        opacity: 0.6;
        transform: scale(1.1);
        transition: 0.4s ease-in;
        cursor: pointer;
      }

      label:hover p {
        visibility: visible;
        background-color: white;
        opacity: 0.6;
        width: 100%;
        text-align: center;
        bottom: 40px;
        left: -5px;
        
      }

    input[type=radio] {
        display: none;        
    }

    label {
        position: relative;
        transition: 0.4s ease-out;
    }

    p {
        position: absolute;
        bottom: 45px;
        left: 29px;
        z-index: 1;
        visibility: hidden;
    }

    img {
        object-fit: cover;
        width: 215px;
        height: 215px; 
        position: relative; 
        margin: -5px;
        transition: 0.4s ease-out;
    }

 }  
}

button {
    border: 10px dotted black;
    background: none;
    padding: 15px 50px 15px 50px;
    margin: 80px;
    transition: 0.4s ease-out;
    margin-left: 480px;
   
}

button:hover {
    opacity: 0.6;
    transform: scale(1.1);
    transition: 0.4s ease-in;
    cursor: pointer;
}