@use "./global/variables";

fieldset {
    border: none;


    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    input[type=radio]:checked + img {
        box-shadow: 5px 5px 20px 15px rgba(0,0,0,0.40);
        transition: 0.4s ease-out;
      }

      img:hover {
        opacity: 0.6;
        transform: scale(1.1);
        transition: 0.4s ease-in;
        cursor: pointer;
      }

    input[type=radio] {
        display: none;        
    }

    img {
        object-fit: cover;
        width: 350px;
        height: 350px; 
        position: relative; 
        margin: 20px;
    }

    
}

button {
    border: 10px dotted black;
    background: none;
    padding: 15px 50px 15px 50px;
    margin: 80px;
}

button:hover {
    opacity: 0.6;
    transform: scale(1.1);
    transition: 0.4s ease-in;
    cursor: pointer;
  }