@use "./variables";

// Fonts Imported
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Staatliches&family=Ultra&display=swap');

h1 {
    font-family: variables.$heading-font;
    font-size: 70px;
}

.idea {
    font-family: variables.$base-font;
    font-size: 20px;
}

p {
    font-family: variables.$base-font;
    font-size: 40px;
    font-weight: bold;
}

button {
    font-family: variables.$button-font;
    font-size: 40px;
}